<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kiramario.factory.Util.dao.mapperInter.IUserDto">
	
	<select id="selectByOpenId" parameterType="String" resultType="UserDto">
		select * from t_user where openid=#{openid}
	</select>

	<insert id="insertUser" parameterType="UserDto" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into t_user (nickname,name,phone,openid) values (#{nickname},#{name},#{phone},#{openid})
	</insert>
</mapper>